.caro img{
    height: 650px;
    object-fit: covcer;
}
.tarjetas{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.carousel p{
    color: #4b473e;
    font-size: 50px;
}
.carousel h5{
    color: #242017;
    font-size: 70px;
}
.carousel h6{
    color: #f5cd4c;
}
.formulario h2{
    margin: 10px;
    text-align: center;
    color: blue;
}
.formulario{
    border-color: blue;
    background-color: #00011a;
    padding: 15px;
    margin-bottom: 10%;
}
.formulario form option{
    background-color: #242017;
}
.listas li{
    list-style-type: circle;
    color: white;
}
.form-select option{
    color: aliceblue;
}